<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAr8H3cb8pmb83CHe2VggpIqRDElERKXT4</string>
	<key>GCM_SENDER_ID</key>
	<string>286681738367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.mathmagic</string>
	<key>PROJECT_ID</key>
	<string>mathmagic-d089e</string>
	<key>STORAGE_BUCKET</key>
	<string>mathmagic-d089e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286681738367:ios:1fe4b24802237eef02e34a</string>
</dict>
</plist>